.medicine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 30px);
  height: calc(100vh - 107px);
  padding: 80px 15px 25px;
}
