$blue: #2ea0f2;
$light-blue: rgb(46 160 242 / 5%);
$sky: #00daf9;
$gradation: linear-gradient(#2ea0f2 0%, #00daf9 100%);
$grey01: #333;
$grey02: #707070;
$grey03: #999;
$grey04: #ccc;
$grey05: #ededed;
$grey06: #f7f7f7;
$success: #2ef27c;
$error: #fb5147;
$yellow: #fee500;
