@import "~normalize.css/normalize.css";
@import "color";
@import "font";

* {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: Pretendard;
}

body {
  width: 100vw;
  min-height: calc(var(--vh, 1vh) * 100);
  color: $grey01;
}
