.layout {
  position: relative;
  display: flex;
  width: 100%;

  .landing {
    position: fixed;
    top: 0;
    right: 50%;
    z-index: 110;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-top: 180px;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  .app {
    position: relative;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    min-height: calc(var(--vh, 1vh) * 100 - 126px);
    padding: 56px 0 70px;
    background-color: white;
    border-right: 1px solid $grey04;
    border-left: 1px solid $grey04;

    @media (max-width: 1000px) {
      left: unset;
      max-width: 1000px;
      border: none;
    }
  }
}
