.layout {
  position: relative;
  display: flex;
  width: 100%;

  .landing {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  .app {
    position: relative;
    left: 50%;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    background-color: white;
    border: 1px solid $grey04;

    @media (max-width: 1000px) {
      left: unset;
      max-width: 1000px;
      margin: auto;
    }
  }
}
