.toast-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin-top: 15px;
  padding: 12px;
  background-color: $grey01;
  border-radius: 10px;
  opacity: 0;
  pointer-events: auto;

  @include toast;

  & .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.5px;
    height: 22.5px;
    margin-right: 16.5px;
  }
}
