.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .container {
    display: flex;
    align-items: center;

    & > svg {
      margin-right: 10px;
    }
  }

  .select-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    min-width: 234px;
    max-width: 65%;
  }
}
