.spinner-view {
  position: fixed;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: calc(100vh - 126px);
  padding: 56px 0 70px;

  @media (max-width: 1000px) {
    left: unset;
    max-width: 1000px;
    border: none;
  }
}
