.accordion {
  width: 100%;

  & > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 0 20px;
    background-color: $grey06;
    border: none;
    border-radius: 10px;

    @include body01;

    span {
      margin-right: 10px;
      color: $grey01;
    }

    strong {
      color: $grey03;
      font-weight: 400;
    }

    svg.expand {
      transform: rotate(180deg);
      transition: all 0.35s;
    }

    svg.close {
      transform: rotate(0deg);
      transition: all 0.35s;
    }
  }

  .content {
    height: 0;
    padding: 0 20px;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.35s ease;

    @include body01;

    &.expand {
      height: fit-content;
      padding: 25px 20px;
      border: 1px solid $grey05;
    }

    .table {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-spacing: 5px 6px;

      & > tbody {
        width: 100%;

        & > tr {
          display: flex;
          width: 100%;

          td:first-child {
            width: 40%;
            margin-right: 10px;
            color: $grey01;
            vertical-align: top;

            @include ellipsis;
          }

          td:last-child {
            width: 60%;
            color: $grey03;

            @include ellipsis;
          }
        }
      }
    }

    .tag-container {
      display: flex;
      margin-top: 15px;

      span {
        margin-right: 10px;
      }
    }
  }
}
